.header_banner_1{
    background-size: cover;
    height: 60vh;
    width: 70%;
    position: absolute;
    right:0;
    top:20vh;
    animation: float-1 2s ease-in-out;
    z-index: -1;
}

.header_banner_2{
    position: absolute;
    right:30vh;
    bottom:20vh;
    width:15%;
    animation: float-2 2s ease-in-out;
}

.header_banner_3{
    position: absolute;
    right:10vh;
    bottom:20vh;
    width:12%;
    animation: float-3 2s ease-in-out;
}

@keyframes float-3 {
	0% {
		transform: translatex(40vh);
        opacity:0;
	}
    50% {
		opacity:.3;
	}
	100% {
		transform: translatex(0vh);
        opacity:1
	}
}

@keyframes float-2 {
	0% {
		transform: translatey(-70vh);
        opacity:0;
	}
    50% {
		opacity:.3;
    }
	100% {
		transform: translatey(0vh);
        opacity:1;
	}
}

@keyframes float-1 {
	0% {
		transform: translatey(70vh);
        opacity:0;
        overflow:hidden;
	}
    50% {
		opacity:.3;
        overflow:hidden;
	}
	100% {
		transform: translatey(0vh);
        opacity:1;
        overflow:hidden;
	}
}

.header_banner_section{
    background: linear-gradient(to right, rgba(248, 247, 209, 0.658) , rgba(241, 255, 119, 0.288), rgba(242, 255, 128, 0.027));
    height:80vh;
}
.header_content_heading{
    padding-top: 100px;
    padding-left: 5vh;
    font-size: 5rem;
    font-weight:400;
    line-height:.9;
    color:rgb(66, 109, 76);
}
.header_content_subheading{
    padding-left: 5vh;
    font-size: 1.2rem;
    font-weight:600;
    color:rgb(89, 109, 66);
}

.header_span{
    font-weight: 700;
    color:rgb(114, 145, 5);
}

.header_hr{
    width:80%;
    border-top:8px solid rgb(66, 109, 76);
    margin-left:5vh;
}
@media only screen and (max-width: 1320px) {
    .header_content_subheading{
        font-size: 1rem;
        font-weight:600;
        color:rgb(89, 109, 66);
    }
  }
  @media only screen and (max-width: 983px) {
    .header_content_subheading{
        font-size: 0.8rem;
        font-weight:400;
        color:rgb(89, 109, 66);
    }
  }
  @media only screen and (max-width: 923px) {
    .header_content_subheading{
        font-size: 0.8rem;
        font-weight:400;
        color:rgb(89, 109, 66);
    }
    .header_content_heading{
        padding-top: 220px;
        font-size: 3rem;
        font-weight:400;
        line-height:.9;
        color:rgb(66, 109, 76);
    }
  }
  @media only screen and (max-width: 779px){
    .header_banner_section {
        height: 110vh;
    }
    .header_banner_1{
        background-size: cover;
        height: auto;
        width: 100%;
        position: absolute;
        right:0;
        top: auto;
        bottom: 0;
        animation: float-1 2s ease-in-out;
        z-index: -1;
    }
    
    .header_banner_2{
        position: absolute;
        right: 13vh;
        top: auto;
        bottom: 0;
        width:15%;
        animation: float-2 2s ease-in-out;
    }
    
    .header_banner_3{
        position: absolute;
        right:5vh;
        top: auto;
        bottom: 0;
        width:12%;
        animation: float-3 2s ease-in-out;
    }
    .header_content_heading{
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 100px;
        font-size: 3rem;
        font-weight:400;
        line-height:.9;
        color:rgb(66, 109, 76);
    }
    .header_content_subheading{
        padding-left: 5%;
        padding-right: 5%;
        font-size: 1.2rem;
        font-weight:600;
        color:rgb(89, 109, 66);
    }
    .header_span{
        font-weight: 700;
        color:rgb(114, 145, 5);
    }
    
    .header_hr{
        margin-left: 5%;
        border-top:8px solid rgb(66, 109, 76);
    }
  }