.know_text{
    text-align: center;
}

.know_span{
    border:2px solid rgb(135, 209, 135);
    margin:5px;
    border-radius:10px;
    background-color:rgb(144, 234, 144);
}

.know{
    margin:15px 0;
}

.know_btn{
    background: none;
    border: none;
}

.know_input{
    background: none;
    border: none;
}